<div class="comment cf">
  <div class="content">
    <p class="comment_content">
      <%= markdownify tokyocomment.comment %>
    </p>
    <p class="comment_author">
      <%= link_to tokyocomment.student.email, tokyocomment.student %>
    </p>
  </div>
  <div id="edit_button">
    <% if current_student && tokyocomment.student == current_student %>
      <%= link_to "Edit", edit_tokyopost_tokyocomment_path(tokyocomment.tokyopost, tokyocomment) %>
      <%= link_to "Delete", [tokyocomment.tokyopost, tokyocomment], method: :delete, data: { confirm: "Are you sure?" } %>

    <% end %>

  </div>
</div>
