<div class="comment cf">
  <div class="content">
    <p class="comment_content">
      <%= markdownify eastcomment.comment %>
    </p>
    <p class="comment_author">
      <%= eastcomment.student.email %>
    </p>
  </div>
  <div id="edit_button">
    <% if current_student && @eastpost.student == current_student %>
      <%= link_to "Edit", edit_eastpost_eastcomment_path(eastcomment.eastpost, eastcomment) %>
      <%= link_to "Delete", [eastcomment.eastpost, eastcomment], method: :delete, data: { confirm: "Are you sure?" } %>

    <% end %>



  </div>
</div>
