<div class="comment cf">
  <div class="content">
    <p class="comment_content">
      <%= markdownify othercomment.comment %>
    </p>
    <p class="comment_author">
      <%= othercomment.student.email %>
    </p>
  </div>
  <div id="edit_button">

    <% if current_student && othercomment.student == current_student %>
      <%= link_to "Edit", edit_otherpost_othercomment_path(othercomment.otherpost, othercomment) %>
      <%= link_to "Delete", [othercomment.otherpost, othercomment], method: :delete, data: { confirm: "Are you sure?" } %>

    <% end %>

  </div>
</div>
