<div class="wrapper">

  <h1>Edit Reply</h1>
  <%= simple_form_for([@student, @studentcomment]) do |f| %>

    <%= f.input :comment, 'Review' %>
    <br><br>
    <%= f.submit "Update Comment" %>
  <% end %>

</div>
