<h1></h1>

<h3>
  Before applying to your dream university,<br><br>


    Why don’t you ask one of those university students to <br><br>  take a look at your admission essay? <br><br><br><br>

  Birdsinthatcity.com is a platform for students to share information
  about their school and real school life. <br><br>

  You can just send them an email or write a post asking questions about their school and city. <br><br>

  Search for a Senior Student! <br><br>

  <!-- Then university students who are related to your question will answer based on their own personal experience.

  You can click on their profile and ask them to look through your essay with little beer money for them.

  Or if you are already university student, you can just meet up with those students when you travel abroad.

  I made this site to meet and party with local Parisian students when I was doing exchange in Paris.

  Maybe you can do the same. -->

  Just Text us when you are visiting Seoul~~ <br><br>

  82-10-3285-0698
</h3>
<p></p>
