<h1></h1>

<div class="wrapper_skinny">
  <div id="about">
    <h3>
      Before applying to your dream university,<br><br>


        Why don’t you ask one of those university students to <br><br>  take a look into your admission essay? <br><br><br><br>

      Birdsinthatcity.com is a platform for <br><br>

      prospective highschool students and current university students <br><br>

      to share useful information about their school and city.<br><br><br><br>

      You can just send them an email or write a post asking questions <br><br>

      about their school and city. <br><br><br><br>

      Search for a Senior Student! <br><br>

      <!-- Then university students who are related to your question will answer based on their own personal experience.

      You can click on their profile and ask them to look through your essay with little beer money for them.

      Or if you are already university student, you can just meet up with those students when you travel abroad.

      I made this site to meet and party with local Parisian students when I was doing exchange in Paris.

      Maybe you can do the same. -->

      If you want to talk to me or meet me in person,  <br><br>

      just call me 82-10-3285-0698<br><br>

      or find me at<br><br>

      www.facebook.com/BirdsInThatCity
    </h3>


  </div>

</div>
<p></p>
